.top-bar{
    background-color: $dark;
    a {
        color: #ccc;
    }
}

.bar-nav{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 12px -4px rgba(122,122,122,1);
    -moz-box-shadow: 0px 3px 12px -4px rgba(122,122,122,1);
    box-shadow: 0px 3px 12px -4px rgba(122,122,122,1);
    width: 100%;
    z-index: 20000;
    position: relative;
    transition: all 2s;

    a{
        color: $primary-color;
        &:hover{
            color: $dark;
        }
    }


    .num{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: .6rem;
        padding-bottom: .5rem;
        top: 0;
        transform: translate(-3px, 3px);
    }
}

.nav-fixed{
    position: fixed;
    top: 0;
    animation: positioned .3s ease-in;  
}


main{
    @include trans('all');
}


@keyframes positioned{
    from{
        top: 0px;
    }

    to{
        top: 0;
    }
}