

.product-features li{
    color: $primary-text;
    line-height: 20pt;
}

.content-product{
    .card-title{
        color: $primary-color;
        font-size: 2rem;
    }

    h4{
        font-size: 1rem;
    }
}