$questrial : 'Questrial', sans-serif;
$muli : 'Muli', sans-serif;

h1, h2, h3, h4, h5{
    font-family: $questrial;
    font-weight: 600;
}

p{
    font-family: $muli;
}

a{
    font-family: $questrial;
}