/*Estilos Generales*/
@import 'typography';
@import 'colors';
@import 'variables';


@mixin bg-images($image) {
    background-image: url('#{$imagePath}/#{$image}');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .7);
        top: 0;
        left: 0;

    }
}

@mixin trans ($element) {
    transition: #{$element} .3s;
}

/*Header*/
@import 'header';

/*Carousel*/
@import 'carousel';

/*Back-to-top*/
@import 'back-to-top';


/*Buttons & links*/
button{
    border: none;
}

.btn{
    border-radius: 0px;
    padding: .7rem 1.5rem;
}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
}

a{
    @include trans('all');

    &:hover{
        text-decoration: none;
    }
}

/*Forms*/

.form-control{
    border-radius: 0;
    padding: 1.45rem 1.5rem;
}

.section-interior{
    padding: 4rem 0;
}

.primary{
    h1, h2, h3, h4, h5{
        color: $dark;
    }

    p{
        color: $primary-text;
    }
}

.secondary{

    h1, h2, h3, h4, h5{
        color: #fff;
    }
    
    p{
        color: #ccc;
    }

}

.title-heading{
    background-color: #f8f8f8;
    color: $dark;

    h1{
        font-size: 2rem;
    }
}

/*Products*/
@import 'products';

/*Newslleter*/
@import 'newslleter';

/*Footer*/
@import 'footer';


/*==============CATEGORIES SHOP===============*/

@import 'categories-shop';


/*==============SINGLE PRODUCT===============*/
@import 'single-product';
